
body{
    display: flex;
    justify-content: center;
    font-family: "Times New Roman","楷体";
}
.todo-panel{
    width: 30em;
    border: 1px solid #eee;
    min-height: 20em;
    box-shadow: 4px 6px 6px #888;
    margin-top: 5em;
}   
/*输入框样式*/ 
.todo-editor{
    padding: 5px 20px;
    display: flex;
    background-color: bisque;
}

.todo-editor input{
    flex-grow: 1;
    margin-right: 6px;
    font-size: 1.2em;
    padding: 2px 5px;
}
.task.done > label{
    text-decoration: line-through;
}

/*待办任务样式*/
.todp-items{
    padding: 2px 5px;
}
.todo-items > .task{
    display: flex;
    align-items: center;
}

/*字体大小,check-box颜色！*/

.todo-items > .task > input{
    width: 1.5em;
    height: 1.5em;
    float: right;
}
/*按钮样式*/
.todo-items > .task > label{
    flex-grow: 1;
    font-size: 1em;
}

.todo-items .ctrlbar  button {
    border: none;
    background: none;
    color: blue;
    cursor: pointer;
    margin-right: 6px;
}
.todo-items .ctrlbar  button:hover {
    font-weight: bolder; 
}

/*特殊按钮不加粗，呈灰色*/
.todo-items .ctrlbar > button:disabled{
    color :grey;
}
.todo-items .ctrlbar > button:disabled :hover {
    font-weight: unset; 
}

.todo-items  .ctrlbarEl   input{
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 1.5em;
    height: 1.5em;
    background: url(think.png);
    margin-left: 18px;
}
.tasks.vip .ctrlbarEl   input{
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 1.5em;
    height: 1.5em;
    background: url(heart.png);
    margin-left: 18px;
}
.tasks.vip >label{
    color: red;
}